/gasoline/nbproject/private/
/gasoline/build/
/gasoline/dist/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/WebApplication1/dist/
/quangtrung/nbproject/private/
/quangtrung/build/
/quangtrung/dist/